@charset "utf-8";
@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* root ,size definition */
:root {
    /* color */
    --color-dark: #000;
    --color-semidark :#333;
    --color-gray :rgb(100, 100, 100);
    --color-light: #fff;
    --color-red: #eb0a1e;
    /* font */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-medium: 500;
    --weight-regualr: 400;
    --weight-light: 300;
    /* font size */
    --font-large: 48px;
    --font-semilarge: 26px;
    --font-medium: 24px;
    --font-regular: 18px;
    --font-micro: 14px;
    /* annimation */
    --animation-duration: 300ms;
}
* {
    box-sizing: border-box;
}
h1 {
    margin: 16px 0;
    color: var(--color-dark);
    font-weight: var(--weight-bold);
    font-size: var(--font-large);
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-dark);
    margin: 8px 0;
}
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regualr);
    color: var(--color-dark);
    margin: 8px 0;
}
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regualr);
    color: var(--color-dark);
    margin: 4px 0;
}

/* navbar start */
#navbar {width:100%; position:absolute; top: 10px; left:0; z-index: 1; display: flex; justify-content: space-around; align-items: center;}
#navbar .navbar-gnb-list{display: flex;  font-size: var(--font-regular);
font-weight: var(--weight-regualr);}
#navbar .navbar-gnb-list a{ margin: 0 20px;}
#navbar .navbar-gnb-list a:hover{ color: var(--color-semidark);}
#navbar .navbar-gnb-list a:active{ color: var(--color-gray);}

/* navbar mobile */
@media screen and (max-width: 768px) {
:root{
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-micro: 14px;
}
    #navbar {
    flex-direction: column;
    align-items: flex-start;
    position:absolute; top: 10px; left:30px;  
}
.navbar-remove {
    display: none;
}
.navbar-list-btn{position:absolute; top: 10px; right:50px;}
}







#main-visual{height: 1024px; position: relative; text-align: center;}
.mainvisual-container-list{display: flex; height:1024px; flex-direction: column;justify-content: center;}
.mainvisual-container-list:nth-child(1){background: url('../img/main/main-visual03.jpg')no-repeat center top; background-size: cover;}
.mainvisual-container-list:nth-child(2){background: url('../img/main/main-visual01.png')no-repeat center top; background-size: cover;}
.mainvisual-container-list:nth-child(3){background: url('../img/main/main-visual02.jpg')no-repeat center top; background-size: cover;}


#toyota-models{margin-top:95px; width: 100%;}
#toyota-models .models-menu h2{ padding-bottom: 84px; position: relative; left:130px;}
#toyota-models .models-nav-menu{display: flex; cursor: pointer; justify-content: space-around;} 
#toyota-models .models-nav-menu li{font-size: var(--font-medium); font-weight: 700; color:rgb(100, 100, 100,0.3);}
#toyota-models .models-nav-menu li:first-child{color:var(--color-dark);}
#toyota-models .product-models figure{text-align: center; margin-bottom: 8px;}
#toyota-models .models-left{margin-top: 65px;}





































/*brand story start 애니메이션 건들지마라!!! */
.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(0, 78, 161, 1) 0%, rgb(0, 100, 193) 100%);
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile brnadstory */
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 38px;
    }
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}