@charset "utf-8";
@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* root ,size definition */
:root {
    /* color */
    --color-dark: #000;
    --color-semidark :#333;
    --color-gray :rgb(100, 100, 100);
    --color-light: #fff;
    --color-red: #eb0a1e;
    /* font */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-medium: 500;
    --weight-regualr: 400;
    --weight-light: 300;
    /* font size */
    --font-large: 48px;
    --font-semilarge: 26px;
    --font-medium: 24px;
    --font-regular: 18px;
    --font-micro: 14px;
    /* annimation */
    --animation-duration: 300ms;
}
* {
    box-sizing: border-box;
}
h1 {
    margin: 16px 0;
    color: var(--color-dark);
    font-weight: var(--weight-bold);
    font-size: var(--font-large);
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-dark);
    margin: 8px 0;
}
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regualr);
    color: var(--color-dark);
    margin: 8px 0;
}
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regualr);
    color: var(--color-dark);
    margin: 4px 0;
}

/* navbar start */
#navbar {width:100%; position:absolute; top: 10px; left:0; z-index: 1; display: flex; justify-content: space-around; align-items: center;}
#navbar .navbar-gnb-list{display: flex;  font-size: var(--font-regular);
font-weight: var(--weight-regualr); letter-spacing:0;}
#navbar .navbar-gnb-list a{ margin: 0 20px;}
#navbar .navbar-gnb-list a:hover{ color: var(--color-semidark);}
#navbar .navbar-gnb-list a:active{ color: var(--color-gray);}

/* navbar mobile */
@media screen and (max-width: 768px) {
:root{
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-micro: 14px;
}
    #navbar {
    flex-direction: column;
    align-items: flex-start;
    position:absolute; top: 10px; left:30px;  
}
.navbar-remove {
    display: none;
}
.navbar-list-btn{position:absolute; top: 10px; right:50px;}
}






/*main-visual*/
#main-visual{height: 1024px; position: relative; text-align: center;}
.mainvisual-container-list{display: flex; height:1024px; flex-direction: column;justify-content: center;}
.mainvisual-container-list:nth-child(1){background: url('../img/main/main-visual03.jpg')no-repeat center top; background-size: cover;}
.mainvisual-container-list:nth-child(2){background: url('../img/main/main-visual01.png')no-repeat center top; background-size: cover;}
.mainvisual-container-list:nth-child(3){background: url('../img/main/main-visual02.jpg')no-repeat center top; background-size: cover;}


/* TOYOTA MODELS */
#toyota-models{margin:95px 60px 0 60px; }
#toyota-models .models-menu h2{ padding-bottom: 84px; position: relative; left:130px;letter-spacing: -1px; margin:95px 60px 0 60px;}
#toyota-models .models-nav-menu{display: flex; cursor: pointer; justify-content: space-around;} 
#toyota-models .models-nav-menu li{font-size: var(--font-medium); font-weight: 700; color:rgb(100, 100, 100,0.3);letter-spacing: -1px;}
#toyota-models .models-nav-menu li:first-child{color:var(--color-dark);}
#toyota-models .product-models figure{text-align: center; margin-bottom: 15px;}
#toyota-models .models-left{ margin:65px 60px 0 60px;}


/*2021 mirai desc*/
.description{display: flex; justify-content:center; position: relative; margin-bottom: 92px;}
.description-title{position: absolute; left: 80px; top: 280px;}
.description-title h3{color: #fff; font-weight:700; font-size:28px; }
.description-title p{color: #fff; font-size: 22px; }
.description-01{display: flex; align-items: center; justify-content: space-between;}
.description-02{margin-top:115px; display: flex;align-items: center; justify-content: space-between;}
.description-03{margin-top:115px; display: flex;align-items: center; justify-content: space-between;}
.description-left,.description-right{font-size: 26px;}
.description-left p{padding-bottom: 15px;}




#customise{margin:104px 60px 0 60px;}
#customise .customise-lists-wrap{display: flex; justify-content: space-between;}
#customise .customise-lists{margin-top: 20px; font-size: 22px;}
#customise .customise-lists li{margin-bottom:14px;}
.customise-icon{background-color: bisque;}








/* description start */
@media screen and (max-width: 768px) {
    :root{
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-micro: 14px;
    }
    .description-01 ,.description-03 {
        flex-direction:column-reverse;}
    .description-02{flex-direction:column;}
    }
/* Mobile */
@media all and (max-width : 767px) {
    .description-01 ,.description-03 {margin-top:40px;}
    .description-left span{font-size: 30px; font-weight:700;}
    .description-left p {
        margin-top: 25px;
    }
    .description-right span {font-size: 30px;}
    .description-right{
        font-size: 30px; font-weight:700;padding-top:40px;
    }
    .description-right p{
        margin-top: 25px;
        
    }
}




/* brand stroy start */
.brandstory-description{display: flex; justify-content: space-between; margin:64px 60px 0 60px;  align-items: center;}
/* brandstory start */
@media screen and (max-width: 768px) {
    :root{
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-micro: 14px;
    }
    .brandstory-description{flex-direction:column-reverse;}
    .brandstory-description p{ margin-top:25px;}
}
/* Mobile */
@media all and (max-width : 767px) {}










#event-footer-wrap{
    box-sizing: border-box;
    position: relative;
    margin-top:150px;
    justify-content:center;
    height:900px;
    background: url('../img/main/footer-bg.png')no-repeat center center fixed;
}
#event-footer-wrap h2{margin:0 60px 0 60px; position: relative; top: 90px;}
.event-service{flex-wrap: wrap;}
.event-box{display:flex; justify-content: center;}
.event-box-lists{
position:absolute; top: 223px;  display: flex; justify-content: space-between; text-align: center;}
.event-box-lists li{padding-left: 55px;}
.event-box-lists div{ color:var(--color-light);}
.event-desc{position:relative; top:-170px;}
/* later hidden ㅁㅐ기기 */



/* form start */
.form-layout{position: relative; top: 600px; text-align: center;}
.form-layout fieldset{border:none;}
.form-layout p{color: var(--color-light); margin-bottom: 16px; position: relative; left:-20px;}
.input-layout-box{display: flex; text-align: center; justify-content: center; align-items: center;}
.input-layout-box input[type=text]{width: 600px; height:50px; border-radius: 80px; background-color:rgba(255,255,255,0.5);  color:var(--color-light); font-size:20px; text-align: center;}

.input-layout-box input[type=image]{text-align: center; background: url('../img/common/view-more.png')no-repeat; width: 36px; height: 36px; font-size: 0; border: none;cursor: pointer; position: relative; left: -50px;}

/* footer start */
#footer{position: relative; display:flex; justify-content:center;}
.footer-inner{text-align: center; display: flex; align-items: center; position: absolute; top: 700px;}
.footer-inner-desc p{color: var(--color-light); font-size: 16px;}
.sns a{margin:0 5px;}
.sns img:hover{}














/*brand story start 애니메이션 건들지뫍!!! */
.inner-header h1 ,h2{color: #fff;}
.header {
    position: relative;text-align: center;background: linear-gradient(60deg, rgba(0, 78, 161, 1) 0%, rgb(0, 100, 193)100%);color: white;}
.logo {width: 50px;fill: white;padding-right: 15px;display: inline-block;vertical-align: middle;}
.inner-header {height: 65vh;width: 100%;margin: 0;padding: 0;}
.flex {
    /*Flexbox for containers*/
    display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;}
.waves {position: relative;width: 100%;height: 15vh;margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;max-height: 150px;}
.content {position: relative;height: 20vh;text-align: center;background-color: white;}

/* Animation */
.parallax>use {animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;}

@keyframes move-forever {
    0% {transform: translate3d(-90px, 0, 0);}
    100% {transform: translate3d(85px, 0, 0);}}

/*Shrinking for mobile brnadstory */
@media (max-width: 768px) {
    .waves {height: 40px;min-height: 40px;}
    .content {height: 30vh;}
    h1 {font-size: 38px;}}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}}